<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-4 mt-5">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{empdata.name}}</li>
                  <li class="list-group-item">{{empdata.email}}</li>
                  <li class="list-group-item">{{empdata.department}}</li>
                  <li class="list-group-item">{{empdata.salary}}</li>
                  <li class="list-group-item">{{empdata.phone}}</li>

                </ul>
              </div>
            <!-- <pre>{{empdata | json}}</pre> -->
        </div>
        <div class="col-2"></div>
    </div>
</div>
